# Assignment: Segmenting and Clustering Neighborhoods in Toronto

In [1]:
import pandas as pd

Let's download a table from the Wiki page and assign it to a dataframe

In [2]:
df = pd.read_html(io='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

Next step is to clean 'Not assigned' boroughs

In [3]:
df = df.drop(df[df['Borough'] == 'Not assigned'].index)
df

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

Let's check if we have 'Not assigned' neighbourhoods

In [4]:
df[df['Neighbourhood']=='Not assigned']

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

We have no unassigned neighbourhoods

We can see doubles in the table, e.g. we can see Postcode == M6A and Borough == North York. Let's merge neighbourhoods for such cases into single rows.

In [5]:
df[df['Postcode']=='M6A']

  Postcode     Borough     Neighbourhood
5      M6A  North York  Lawrence Heights
6      M6A  North York    Lawrence Manor

We need a helper function to concatenate strings into a single string

In [6]:
def concat(arr):
    result = ''
    for el in arr:
        result += el + ', '
    return result [:-2]

Now we can aggregate the data

In [7]:
df = df.groupby(['Postcode', 'Borough']).agg(concat).reset_index()

Let's check how it looks now

In [8]:
df[df['Postcode']=='M6A']

   Postcode     Borough                     Neighbourhood
71      M6A  North York  Lawrence Heights, Lawrence Manor

In [9]:
df

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

Let's check the shape of the dataframe

In [10]:
df.shape

(103, 3)

Number of rows

In [11]:
df.shape[0]

103